@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #292929;
  color: white;
  font-family: 'Roboto Mono', monospace;
}


/* HEADER */

header {
  width: 100%;
  height: 6.25em;
  background-color: #8ABBFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375em 2.1875em;
}


/* FOTO */

#foto {
  width: 4.6875em;
  height: 4.6875em;
  object-fit: cover;
  border-radius: 50%;
  border: 0.25em solid white;
}

#a {
  display: flex;
  gap: 6.875em;
  margin-left: 17.5em;
}

#a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}

#a:hover {
  color: #406195;
}


main {
  padding: 4.6875em 1.75em;
}

h1 {
  font-size: 3.125em;
  margin-top: 0;
  margin-bottom: 0.3125em;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.3125em;
  color: #8ABBFF;
}

h3 {
  font-size: 0.9375em;
  margin-top: 0;
  color: #C3C3C3;
  width: 31.25em;
}


#titulos {
  margin-top: 5em;
  margin-left: 2.5em;
}


.estrela {
position: fixed; 
font-size: 600px; 
right: -65px; 
bottom: -150px; 
color: #8ABBFF; 
opacity: 0.6; 
transform: rotate(-15deg); 
filter: blur(20px); 
border-radius: 40px; 
z-index: -1;
}


p {
  display: flex;
  justify-content: center;
  font-size: 1.375em;
}


#img {
  width: 4em;
  height: 4em;
}


#img2 {
  width: 3em;
  margin-right: -6.25em;
  height: 3em;
}


#img3 {
  width: 3em;
  margin-left: -5.625em;
  height: 3em;
}


#logos {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-left: 25em;
  margin-right: 25em;
  margin-top: 6em;
}


#links {
  display: flex;
  margin-left: -12.5em;
  margin-top: 12.5em;
}


#fotoVisualisar {
  height: 18.75em;
  width: 31.25em;
  border-radius: 1.875em;
  margin-top: 6.25em;
  margin-left: 5.25em;
  border: 0.25em solid white;
}


#texto {
  color: #C3C3C3;
  width: 31.25em;
  margin-left: 3.125em;
  margin-top: 11.25em;
}


#sobre {
  display: flex;
  flex-direction: row;
}


#titulo2 {
  color: white;
  font-size: 2.5em;
  margin-top: 1.875em;
  margin-left: 3.125em;
}


#tituloProjetos {
  color: white;
  font-size: 1.875em;
  margin-top: 1.875em;
  margin-left: 3.125em;
}


#titulo3 {
  color: white;
  font-size: 2.5em;
  margin-top: 1.875em;
  display: flex;
  justify-content: center;
  margin-left: 10em;
}


#chapeu {
  height: 8.125em;
  width: 6.25em;
}


#Loom {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}


#projetos {
  display: flex;
  justify-content: center;
}

#texto2{
  color: #C3C3C3;
  width: 31.25em;
  margin-left: 3.125em;
  margin-top: 11.25em;
text-decoration: none;
}